doctype html
html
  head
    meta(name="description", content="very beautiful")
    link(rel="stylesheet", type="text/css" href="page.css")
  
  body
    h1#miau salutddd
    p you guard a coversation by phone?
    p.nu you speak in english now ?
    h1.nu eee aici , nu mrg sa 
    //- button(onlick="alert('daaap')") 